/* Header */

header {
  background-color: #1b1b22;
}

.navbar {
  background-color: #1b1b22;
  padding: 1.5% 3%;
}

.navbar-brand {
  font-size: 2.5rem;
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
  padding: 0;
}

.nav-item {
  font-size: 1.2rem;
  padding: 0 18px;
}

@media (max-width: 767px) {
  .nav-item {
    padding: 0;
  }
}

.nav-item:hover {
  border-bottom: 1px solid #ddff0c;
}

.container-fluid {
  padding: 0;
}

.logo {
  text-align: center;
  padding: 7% 0;
}

.logo img {
  width: 40%;
}

/* Portfolio */

#portfolio {
  background-color: #1b1b22;
}

.portfolio-btn {
  padding-bottom: 8%;
  text-align: center;
}

.portfolio-btn .btn {
  border-color: white;
  color: white;
  width: 30%;
}

.portfolio-btn .btn:hover {
  border-color: #1b1b22;
  background-color: #ddff0c;
  color: #1b1b22;
}

/* Test */

.test-lorem {
  padding: 10% 40% 0;
}

.test-lorem p {
  margin-bottom: 100px;
}

/* Footer */

footer {
  padding: 50px;
  text-align: center;
}

footer a {
  color: black;
  text-decoration: none;
  padding: 0 2%;
}

.icon-instagram:hover {
  color: purple;
}

.icon-youtube:hover {
  color: red;
}

.icon-github:hover {
  color: #323842;
}

.copyright {
  position: relative;
  top: 50px;
}
